.p-1{
    padding: var(--ofset-base-size);
  }
  .p-2{
    padding: calc(var(--ofset-base-size)*2);
  }
  .p-3{
    padding: calc(var(--ofset-base-size)*3);
  }
  .p-4{
    padding: calc(var(--ofset-base-size)*4);
  }
  .p-5{
    padding: calc(var(--ofset-base-size)*5);
  }
  .pt-1{
    padding-top: var(--ofset-base-size);
  }
  .mt-10{
    margin-top: calc(var(--ofset-base-size)*10);
  }